@font-face {
    font-family: 'Text';
    src: url('../fonts/text.otf') format('opentype');
}
@font-face {
    font-family: 'Text2';
    src: url('../fonts/text2.otf') format('opentype');
}
@font-face {
    font-family: 'Text6';
    src: url('../fonts/text3.otf') format('opentype');
}

@media only screen and (max-width: 768px) {

    #filter-search{
        height: 110px !important;
    }

    #search-filter select{
        margin-top: 32px !important;
        width: 90% !important;
        font-size: 10px !important;
    }

    #search-button button{
        margin-top: 32px !important;
        width: 90% !important;
        font-size: 10px !important;
    }

    #search-text{
        font-size: 14px !important;
    }

    #search-by-place input{
        margin-top: 32px !important;
        width: 90% !important;
        font-size: 12px !important;
        padding: 10px !important;
    }

    #main-nav-bar{
        margin-right: 0!important;
        margin-left:  0 !important;
        width: 100% !important;
        font-size: 9px !important;
    }

    #main-nav-bar td{
        overflow-wrap: break-word;
    }

    a img{
        margin-top: -5px !important;
        width: 15px;
        height: 15px;
    }

    #main-nav-text{
        display: block;
    }

    #main-nav-img{
        width: 12px !important;
        height: 12px !important;
    }

    td.td-profile-picture{
        width: 50px;
    }

    #profile-picture{
        -webkit-border-radius: 100px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 100px;
        -moz-background-clip: padding;
        border-radius: 100px;
        background-clip: padding-box;
        background-size: cover;
        background-position: center center;
        margin-left: 10px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
    }


    .comment img{
        visibility: visible;
    }

    .post{
        width: 99%;
    }
    .em{
       font-size: 8px;
    }
    #body{
        margin-top: 90px;
    }
    .post-description{
        font-size: 10px;
    }
    #profile-nick{
        font-size: 11px;
    }
    #comment-like{
        font-size: 10px;
    }
    #picture{
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }

    #comment-like img{
        vertical-align: top;
        width: 18px;
        height: 18px;
    }
    #post-more img {
        height: 13px;
        width: 13px;
    }
    .map{
        width: 100%;
        height: 300px;
    }
    #post-footer{
        font-size: 9px;
    }
    #time{
        margin-bottom: 12px;
        font-size: 7px;
    }
    .comment{
        margin-top: 1px;
    }
    #comment-input input{
        font-size: 9px;
        height: 25px;
    }
    #comment-input{
        margin-left: 40px;
    }
    #like-number{
        font-size: 13px;
    }
    #comment-number{
        font-size: 13px;
    }
    #profile-picture-comment{
        -webkit-border-radius: 100px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 100px;
        -moz-background-clip: padding;
        border-radius: 100px;
        background-clip: padding-box;
        background-size: cover;
        background-position: center center;
        height: 25px;
        width: 25px;
    }
    #profile-picture-comment{
        min-width: 25px;
    }
    #comment-comment{
        font-size: 10px;
    }
    #comment-time{
        font-size: 8px;
    }
    .comment-more img{
        height: 8px;
        width: 8px;
    }
    .load-more{
        font-size: 9px;
    }
    #post-more img {
        height: 12px;
        width: 12px;
    }
    #post-coop{
        font-size: 9px;
    }
    #post-coop a{
        font-size: 10px;
    }
    .cancel-edit{
        font-size: 8px;
        margin-right: 11px;
    }
    #post-footer img{
        width: 12px;
        height: 12px;
    }
}

@media (max-width:1199px) and (min-width:768px){

    #main-nav-text{
        display: block;
    }

    #main-nav-bar{
        width: 80% !important;
        margin-left: 10% !important;
        font-size: 13px !important;
    }

    #main-nav-img{
        width: 15px !important;
        height: 15px !important;
    }

    td.td-profile-picture{
        width: 60px;
    }

    .post-description{
        font-size: 14px !important;
    }
    #post-footer-desc{
        font-size: 15px;
    }
    #footer-activity,#footer-distance,#footer-time{
        font-size: 15px !important;
    }
}

@media only screen and (min-width: 768px) {


    td.td-profile-picture{
        width: 60px;
    }

    #profile-picture{
        -webkit-border-radius: 100px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 100px;
        -moz-background-clip: padding;
        border-radius: 100px;
        background-clip: padding-box;
        background-size: cover;
        background-position: center center;
        margin-left: 10px;
        margin-top: 10px;
        width: 45px;
        margin-right: 10px;
        height: 45px;
    }


    .comment img{
        visibility: hidden;
    }

    .post{
        width: 50%;
    }
    .em{
        font-size: 11px;
    }
    #body{
        margin-top: 100px;
    }
    .post-description{
        font-size: 17px;
    }
    #profile-nick{
        font-size: 17px;
    }
    #like-comment{
        font-size: 17px;
    }
    #picture{
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }
    .comment{
        margin-top: 5px;
    }
    #comment-like img{
        vertical-align: top;
        width: 24px;
        height: 24px;
    }
    #post-more img {
        height: 20px;
        width: 20px;
    }
    .map{
        width: 100%;
        height: 500px;
    }
    #post-footer{
        font-size: 16px;
    }
    #time{
        margin-bottom: 10px;
        font-size: 10px;
    }
    #comment-input input{
        font-size: 14px;
        height: 33px;
    }
    #comment-input{
        margin-left: 55px;
    }
    #profile-picture-comment{
        -webkit-border-radius: 100px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 100px;
        -moz-background-clip: padding;
        border-radius: 100px;
        background-clip: padding-box;
        background-size: cover;
        background-position: center center;
        height: 33px;
        width: 33px;
    }
    #profile-picture-comment{
        max-width: 35px;
    }
    #comment-comment{
        font-size: 13px;
    }
    #comment-time{
        font-size: 10px;
    }
    .comment-more img{
        height: 10px;
        width: 10px;
    }
    .load-more{
        font-size: 12px;
    }
    #post-more img {
        height: 15px;
        width: 15px;
    }
    .cancel-edit{
        font-size: 13px;
        margin-right: 11px;
    }
    #post-footer img{
        width: 18px;
        height: 18px;
    }
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}

#filter-search{
    display: inline-block;
    width: 100%;
    height: 140px;
}

#search-filter{
    height: 100%;
    text-align: right;
    width: 30%;
    float: left;
}

#search-filter select{
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 25px;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    height: 30px;
    width: 60%;
    max-width: 230px;
    font-family: Text2;
    font-size: 12px;
    font-weight: bold;
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

#search-filter select::-ms-expand {
    display: none;
}

#search-button{
    height: 100%;
    float: left;
    width: 30%;
}

#search-button button{
    background: #1ab188;
    margin-top: 25px;
    cursor: pointer;
    height: 30px;
    width: 60%;
    max-width: 230px;
    font-family: Text;
    font-size: 12px;
    border: none;
    color:white;
    border-radius: 20px;
}

#search-button button:hover{
    background: #179b77;
}

#search-by-place{
    height: 100%;
    float: left;
    width: 40%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#search-text{
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-family: Text;

}

#search-by-place input{
    margin-top: 25px;
    width: 60%;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    height: 30px;
    font-family: Text2;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

#search-by-place input:focus{
    border: 1px solid #1ab188;

}

#main-nav-bar{
    margin-top: 110px;
    background: transparent;
    margin-bottom: -50px !important;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 7px;
    font-family: Text;
    text-align: center;
    color: #bbbbbb;
}

#main-nav-item.selected{
    color:black;
}

#main-nav-text{
    cursor: pointer;
}

td img {
    cursor: pointer;
    vertical-align: bottom;
}

a img{
    margin-top: -3px;
}

#main-nav-img{
    padding-right: 5px;
    height: 18px;
    width: 18px;
}


#content-empty{
    font-family: Text;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

html{
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    background: #fafafa;
}

table{
    background: white;
    border: none;
    table-layout: fixed;

}

#comment-like table{
    margin-bottom: 5px;
}

.post{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.0975);
}

#profile-nick{
    text-align: left;
    width:100%;
    color: black;
    font-family: Text;
}

#time{
    margin-top: 2px;
    font-family: Text2;
    color: #a0b3b0;
    text-align: left;
}

a{
    color: black;
    text-decoration: none;
}

.post-description{
    min-height: 10px;
    width: 90%;
    overflow-wrap: break-word;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: left;
    font-family: Text2;
    vertical-align: bottom;
}

#like-image{
    width: 26px;
    text-align: right;
    cursor: pointer;
}

#comment-image{
    width: 26px;
    text-align: right;
    cursor: pointer;
}

#like-number{
    min-width: 15px;
    margin-left: 5px;
    text-align: center;
    font-family: Text;
}

#comment-number{
    min-width: 15px;
    margin-left: 5px;
    text-align: center;
    font-family: Text;
}

#post-footer{
    font-family: Text;
    font-family: Text;
    width: 90%;
    margin: auto;
    margin-top: 12px;
    text-align: center;
    color: black;
}

#footer-distance{
    padding-top: 5px;
    width: 33%;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    float: left;
}

#footer-time{
    padding-top: 5px;
    width: 33%;
    float: left;
}

#footer-activity{
    padding-top: 5px;
    width: 33%;
    float: left;
}


#post-footer-desc{
   color: #aaaaaa;
    font-family: Text2;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#comment-form{
    margin-top: 10px;
}

#comment-input{
    margin-right: 15px;
}

#comment-input input{
    font-family: Text2;
    width: 100%;
    padding-left: 10px;
    padding-right: 35px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

#comment-input input::placeholder{
    color: rgba(100,100,100,1);
}
#comment-input input:-ms-input-placeholder{
    color: rgba(100,100,100,1);
}
#comment-input input:-ms-input-placeholder{
    color: rgba(100,100,100,1);
}

#comment-input input:focus::placeholder{
    color: rgba(100,100,100,0.6);
}
#comment-input input:focus :-ms-input-placeholder{
    border: 1px solid #bbbbbb;
}
#comment-input input:focus :-ms-input-placeholder{
    border: 1px solid #bbbbbb;
}

#profile-picture-comment{
    margin-left: 10px;
    float: left;
}

#comment-comment a{
    font-family: Text;
}

.comment:hover img{
    visibility: visible;
}

.comment{
    float: left;
    width: 95%;
}

#comment-comment{
    overflow-wrap: break-word;
    width: 95%;
    float: left;
    font-family: Text2;
}

.comment-more{
    height: 20px;
    text-align: right;
    float: right;
    width: 5%;
}

.comment-more img {
    cursor: pointer;
}

#comment-time{
    float: left;
    font-family: Text2;
    color: #bbbbbb;
}

.load-more{
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Text2;
    color: #bbbbbb;
}

.load-more:hover{
    color: #aaaaaa;
}

#post-more{
    text-align: right;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

#post-coop{
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
    font-family: Text2;
    color: #555555;
}

#post-coop a{
    font-family: Text;
}

.cancel-edit{
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    color: #aaaaaa;
    font-family: Text2;
    float: right;
}

.cancel-edit:hover{
    color: #777;
}


