@font-face {
    font-family: 'Text';
    src: url('../fonts/text.otf') format('opentype');
}
@font-face {
    font-family: 'Text2';
    src: url('../fonts/text2.otf') format('opentype');
}
@font-face {
    font-family: 'Text6';
    src: url('../fonts/text3.otf') format('opentype');
}

@media only screen and (max-width: 767px) {
    .post{
        width: 99%;
    }
    .em{
       font-size: 8px;
    }
    #body{
        margin-top: 90px;
    }
    .post-description{
        font-size: 10px;
    }
    #profile-nick{
        font-size: 11px;
    }
    #comment-like{
        font-size: 10px;
    }
    #picture{
        border-radius: 50%;
        height: 35px;
        width: 35px;
    }

    #comment-like img{
        vertical-align: top;
        width: 18px;
        height: 18px;
    }
    #post-more img {
        height: 13px;
        width: 13px;
    }
    .map{
        width: 100%;
        height: 300px;
    }
    #post-footer{
        font-size: 9px;
    }
    #time{
        font-size: 7px;
    }
    .comment{
        margin-top: 1px;
    }
    #comment-input input{
        font-size: 9px;
        height: 25px;
    }
    #comment-input{
        margin-left: 40px;
    }
    #like-number{
        font-size: 13px;
    }
    #comment-number{
        font-size: 13px;
    }
    #profile-picture-comment img{
        height: 25px;
        width: 25px;
        border-radius: 50px;
    }
    #profile-picture-comment{
        min-width: 25px;
    }
    #comment-comment{
        font-size: 10px;
    }
    #comment-time{
        font-size: 8px;
    }
    .comment-more img{
        height: 8px;
        width: 8px;
    }
    .load-more{
        font-size: 9px;
    }
    #post-more img {
        height: 12px;
        width: 12px;
    }
    #post-coop{
        font-size: 9px;
    }
    #post-coop a{
        font-size: 10px;
    }
    .cancel-edit{
        font-size: 8px;
        margin-right: 11px;
    }
    #post-footer img{
        width: 12px;
        height: 12px;
    }
}

@media only screen and (min-width: 767px) {
    .post{
        width: 50%;
    }
    .em{
        font-size: 11px;
    }
    #body{
        margin-top: 100px;
    }
    .post-description{
        font-size: 17px;
    }
    #profile-nick{
        font-size: 17px;
    }
    #like-comment{
        font-size: 17px;
    }
    #picture{
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }
    .comment{
        margin-top: 5px;
    }
    #comment-like img{
        vertical-align: top;
        width: 24px;
        height: 24px;
    }
    #post-more img {
        height: 20px;
        width: 20px;
    }
    .map{
        width: 100%;
        height: 500px;
    }
    #post-footer{
        font-size: 16px;
    }
    #time{
        font-size: 10px;
    }
    #comment-input input{
        font-size: 14px;
        height: 33px;
    }
    #comment-input{
        margin-left: 55px;
    }
    #profile-picture-comment img{
        height: 33px;
        width: 33px;
        border-radius: 50px;
    }
    #profile-picture-comment{
        max-width: 35px;
    }
    #comment-comment{
        font-size: 13px;
    }
    #comment-time{
        font-size: 10px;
    }
    .comment-more img{
        height: 10px;
        width: 10px;
    }
    .load-more{
        font-size: 12px;
    }
    #post-more img {
        height: 15px;
        width: 15px;
    }
    .cancel-edit{
        font-size: 13px;
        margin-right: 11px;
    }
    #post-footer img{
        width: 18px;
        height: 18px;
    }
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
}

html{
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    background: #fafafa;
}

table{
    background: white;
    border: none;
}

.post{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.0975);
}

#profile-picture{
    padding-top: 15%;
    padding-left: 15%;
}


#profile-nick{
    text-align: left;
    width:100%;
    color: black;
    font-family: Text;
}

#time{
    font-family: Text2;
    color: #a0b3b0;
    text-align: left;
}

a{
    color: black;
    text-decoration: none;
}

.post-description{
    width: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: left;
    font-family: Text2;
    vertical-align: bottom;
}

#like-image{
    width: 26px;
    text-align: right;
    cursor: pointer;
}

#comment-image{
    width: 26px;
    text-align: right;
    cursor: pointer;
}

#like-number{
    min-width: 15px;
    margin-left: 5px;
    text-align: center;
    font-family: Text;
}

#comment-number{
    min-width: 15px;
    margin-left: 5px;
    text-align: center;
    font-family: Text;
}

#post-footer{
    font-family: Text;
    font-family: Text;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    color: black;
}

#footer-distance{
    padding-top: 5px;
    width: 33%;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    float: left;
}

#footer-time{
    padding-top: 5px;
    width: 33%;
    float: left;
}

#footer-activity{
    padding-top: 5px;
    width: 33%;
    float: left;
}


#post-footer-desc{
   color: #aaaaaa;
    font-family: Text2;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#comment-form{
    margin-top: 10px;
}

#comment-input{
    margin-right: 15px;
}

#comment-input input{
    font-family: Text2;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #cccccc;
    border-radius: 15px;
}

#comment-input input::placeholder{
    color: rgba(100,100,100,1);
}
#comment-input input:-ms-input-placeholder{
    color: rgba(100,100,100,1);
}
#comment-input input:-ms-input-placeholder{
    color: rgba(100,100,100,1);
}

#comment-input input:focus::placeholder{
    color: rgba(100,100,100,0.6);
}
#comment-input input:focus :-ms-input-placeholder{
    border: 1px solid #bbbbbb;
}
#comment-input input:focus :-ms-input-placeholder{
    border: 1px solid #bbbbbb;
}

#profile-picture-comment{
    margin-left: 10px;
    float: left;
}

#comment-comment a{
    font-family: Text;
}

.comment:hover img{
    visibility: visible;
}

.comment img{
    visibility: hidden;
}

.comment{
    float: left;
    width: 95%;
}

#comment-comment{
    width: 95%;
    float: left;
    font-family: Text2;
}

.comment-more{
    height: 20px;
    text-align: right;
    float: right;
    width: 5%;
}

.comment-more img {
    cursor: pointer;
}

#comment-time{
    float: left;
    font-family: Text2;
    color: #bbbbbb;
}

.load-more{
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    font-family: Text2;
    color: #bbbbbb;
}

.load-more:hover{
    color: #aaaaaa;
}

#post-more{
    text-align: right;
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

#post-coop{
    text-align: left;
    margin-top: 5px;
    padding-left: 10px;
    font-family: Text2;
    color: #555555;
}

#post-coop a{
    font-family: Text;
}

.cancel-edit{
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    color: #aaaaaa;
    font-family: Text2;
    float: right;
}

.cancel-edit:hover{
    color: #777;
}


