@font-face {
    font-family: 'Logo';
    src: url('../fonts/logo.ttf') format('truetype');
}
@font-face {
    font-family: 'Text';
    src: url('../fonts/text.otf') format('opentype');
}
@font-face {
    font-family: 'Text2';
    src: url('../fonts/text2.otf') format('opentype');
}

html{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.15),
                    rgba(0, 0, 0, 0.15)
            ),
            url(../img/bg8.jpg) no-repeat center center fixed;
    background-size: cover;
}
body{
    margin: 0;
    padding: 0;
}

.g-recaptcha{
    display: none;
}

@media only screen and (min-width: 1200px ) {

    #container-main-page {
        width: 100%;
        height: 100%;
    }

    /* --- HEADER --- */
    #main-page-header {
        height: 100px;
        width: 100%;
    }

    #main-page-header-lang {
        float: left;
        width: 30%;
        height: 100%;
    }

    #lang {
        float: right;
        width: 200px;
        text-align: left;
        margin-top: 25px;
        margin-right: 25px;
    }

    .cs-options{
        width: 200px !important;
    }

    .cs-placeholder {
        height: 50px;
        line-height: 15px;
        width: 200px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    .cs-select {
        font-size: 18px !important;
        color: white !important;
        font-family: Text;
    }

    #main-page-header-title {
        margin-left: 30%;
        float: left;
        width: 40%;
        text-align: center;
        line-height: 100px;
        height: 100%;
    }

    #main-page-header-title a {
        color: white;
        font-family: Text;
        font-size: 45px;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
    }

    /* --- MAIN CONTAINER --- */
    #main-page-content-container{
        width: 60%;
        height: 500px;
        max-width: 1200px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    #main-page-content-form{
        width: 100%;
        height: 100%;
        float: left;
        background: rgba(255,255,255,0.9);
    }

    /* --- MAIN CONTAINER - FORM --- */
    #main-page-content-form-container{
        margin-right: 50px;
        height: 80%;
        margin-left: 50px;
        margin-top: 35px;
    }

    #main-page-content-form-container-title{
        font-family: Text;
        padding-top: 10px; /* -- PADING TOP TITLE -- */
        text-transform: uppercase;
        font-size: 25px;
        letter-spacing: 1px;
    }

    #main-page-content-form-container-formular{
        margin-left: 10px;
    }

    #formular-line{
        width: calc(100% - 10px);
        margin-top: 25px;
    }

    #formular-a-label{
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 7px;
        font-family: Text2;
        font-weight: bold;
    }

    #formular-line input{
        width: 100%;
        height: 50px;
        font-family: Text2;
        font-weight: bold;
        border: 1px solid black;
        font-size: 15px;
        padding: 10px;
    }

    #formular-line input:focus{
        border: 1px solid #1ab188;
    }

    #main-page-content-form-container-button{
        margin-left: 10px;
    }

    #main-page-content-form-container-button button{
        height: 60px;
        width: 200px;
        font-size: 17px;
        font-family: Text;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #1ab188;
        cursor: pointer;
        border: none;
        color:white;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #main-page-content-form-container-button button:hover{
        background: #179b77;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .arrow{
        position: absolute;
        bottom: 0;
        margin-left:0;
        width: 14px;
        height: 14px;
        background-size: contain;
        top:4px;
    }
    .round {
        position: absolute;
        width: 24px;
        height: 24px;
    }

    #formular-line-a{
        margin-bottom: 15px;
        padding-right: 15px;
        width: 50%;
        float: left;
    }

    #formular-line-b{
        padding-left: 15px;
        width: 50%;
        float: left;
        margin-bottom: 15px;
    }

    #formular-line-b.last, #formular-line-a.last{
        margin-bottom: 35px !important;
    }

}

@media (min-width:767px) and (max-width:1200px){

    #alert-main-post{
        font-size: 14px !important;
    }

    #container-main-page {
        width: 100%;
        height: 100%;
    }

    /* --- HEADER --- */
    #main-page-header {
        height: 100px;
        width: 100%;
    }

    #main-page-header-lang {
        float: left;
        width: 40%;
        height: 100%;
    }

    #lang {
        float: right;
        width: 180px;
        margin-top: 25px;
        text-align: left;
        margin-right: 25px;
    }

    .cs-options{
        width: 180px!important;
    }

    .cs-placeholder {
        width: 180px;
        height: 50px;
        line-height: 18px;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    .cs-options li{
        color:black!important;
    }

    .cs-select {
        font-size: 16px !important;
        color: white !important;
        font-family: Text;
    }

    #main-page-header-title {
        float: left;
        width: 60%;
        padding-left: 25px;
        text-align: left;
        line-height: 100px;
        height: 100%;
    }

    #main-page-header-title a {
        color: white;
        font-family: Text;
        font-size: 40px;
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: uppercase;
    }

    /* --- MAIN CONTAINER --- */
    #main-page-content-container{
        width: 80%;
        height: 500px;
        max-width: 1200px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    #main-page-content-form{
        width: 100%;
        height: 100%;
        float: left;
        background: rgba(255,255,255,0.9);
    }

    /* --- MAIN CONTAINER - FORM --- */
    #main-page-content-form-container{
        height: 80%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 35px;
    }

    #main-page-content-form-container-title{
        font-family: Text;
        padding-top: 10px; /* -- PADING TOP TITLE -- */
        text-transform: uppercase;
        font-size: 22px;
        letter-spacing: 1px;
    }

    #main-page-content-form-container-formular{
        margin-left: 10px;
    }

    #formular-line{
        width: calc(100% - 10px);
        margin-top: 25px;
    }

    #formular-a-label,#formular-b-label{
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 7px;
        font-family: Text2;
        font-weight: bold;
    }

    #formular-line input{
        width: 100%;
        height: 50px;
        font-family: Text2;
        font-weight: bold;
        border: 1px solid black;
        font-size: 14px;
        padding: 10px;
    }

    #formular-line input:focus{
        border: 1px solid #1ab188;
    }

    #main-page-content-form-container-button{
        margin-left: 10px;
        margin-top: 50px;
    }

    #main-page-content-form-container-button button{
        height: 60px;
        width: 200px;
        font-size: 14px;
        font-family: Text;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #1ab188;
        cursor: pointer;
        border: none;
        color:white;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #main-page-content-form-container-button button:hover{
        background: #179b77;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .arrow{
        position: absolute;
        bottom: 0;
        margin-left:0;
        width: 14px;
        height: 14px;
        background-size: contain;
        top:1px;
    }

    .round {
        position: absolute;
        width: 24px;
        height: 24px;
    }

    #formular-line-a{
        margin-bottom: 15px;
        padding-right: 15px;
        width: 50%;
        float: left;
    }

    #formular-line-b{
        padding-left: 15px;
        width: 50%;
        float: left;
        margin-bottom: 15px;
    }

    #formular-line-b.last, #formular-line-a.last{
        margin-bottom: 35px !important;
    }
}

@media only screen and (max-width: 767px){
    #container-main-page {
        width: 100%;
        height: 100%;
    }

    /* --- HEADER --- */
    #main-page-header {
        height: 70px;
        width: 100%;
    }

    #main-page-header-lang {
        float: left;
        width: 50%;
        height: 100%;
    }

    #lang {
        float: right;
        width: 125px;
        margin-top: 15px;
        text-align: left;
        margin-right: 10px;
    }

    .cs-placeholder {
        height: 40px;
        width: 125px !important;
        line-height: 16px;
    }

    .cs-options{
        font-size: 12px !important;
        width: 125px !important;
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    .cs-options li{
        color:black!important;
    }

    .cs-select {
        font-size: 12px !important;
        color: white !important;
        font-family: Text;
    }

    #main-page-header-title {
        float: left;
        line-height: 70px;
        overflow-wrap: break-spaces;
        width: 50%;
        padding-left: 10px;
        text-align: left;
        height: 100%;
    }

    #main-page-header-title a{
        color: white;
        font-family: Text;
        font-size: 4.8vw;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
    }

    /* --- MAIN CONTAINER --- */
    #main-page-content-container{
        width: 90%;
        height: 570px;
        max-width: 1200px;
        margin-top: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    #main-page-content-form{
        width: 100%;
        height: 570px;
        float: left;
        background: rgba(255,255,255,0.9);
    }

    #main-page-content-form.resetp{
        width: 100%;
        height: 250px;
        float: left;
        background: rgba(255,255,255,0.9);
    }

    /* --- MAIN CONTAINER - FORM --- */
    #main-page-content-form-container{
        height: 80%;
        margin-left: 25px;
        margin-top: 20px;
        margin-right: 25px;
    }

    #main-page-content-form-container-title{
        font-family: Text;
        padding-top: 10px; /* -- PADING TOP TITLE -- */
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
    }

    #main-page-content-form-container-formular{
        margin-left: 10px;
    }

    #formular-line{
        width: calc(100% - 10px);
        margin-top: 20px;
    }

    #formular-a-label,#formular-b-label{
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 7px;
        font-family: Text2;
        font-weight: bold;
    }

    #formular-line input{
        width: 100%;
        height: 35px;
        font-family: Text2;
        font-weight: bold;
        border: 1px solid black;
        font-size: 12px;
        padding: 5px;
    }

    #formular-line input:focus{
        border: 1px solid #1ab188;
    }

    #main-page-content-form-container-button{
        margin-left: 10px;
        margin-top: 30px;
    }

    #main-page-content-form-container-button button{
        height: 40px;
        width: 140px;
        font-size: 12px;
        font-family: Text;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #1ab188;
        cursor: pointer;
        border: none;
        color:white;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #main-page-content-form-container-button button:hover{
        background: #179b77;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .arrow{
        position: absolute;
        bottom: 0;
        margin-left:0;
        width: 10px;
        height: 10px;
        background-size: contain;
        top:2px;
    }

    .round {
        position: absolute;
        width: 10px;
        height: 10px;
    }

    #formular-line-a{
        margin-bottom: 10px;
        width: 100%;
        float: left;
    }

    #formular-line-b{
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }

    #formular-line-b.last{
        margin-bottom: 35px !important;
    }
}


#button-title{
    float: left;
    width: 80%;
}
#button-arrow{
    width: 20%;
    float: left;
}

#cta, #cta2{
    width:100%; cursor: pointer; position: absolute;
}
#cta .arrow, #cta2 .arrow2{
    left: 8px;
}

.segunda, .segunda2{
    margin-left: 8px
}
.next, .next2 {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}
@keyframes bounceAlpha {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}
.bounceAlpha, .bounceAlpha2 {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.arrow.primera.bounceAlpha, .arrow2.primera2.bounceAlpha2 {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.main-login-button:hover .arrow, .main-login-button:hover .arrow2{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.main-login-button:hover .arrow.primera, .main-login-button:hover .arrow2.primera2{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}


