RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^welcome html/index.php [NC,L]
RewriteRule ^forgot html/forgot.php [NC,L]
RewriteRule ^reset html/reset.php [NC,L]
RewriteRule ^home php/main.php [NC,L]
RewriteRule ^add html/add.php [NC,L]
RewriteRule ^settings html/settings.php [NC,L]
RewriteRule ^bookmarks html/bookmarks.php [NC,L]
RewriteRule ^about html/about.php [NC,L]
RewriteRule ^register html/register.php [NC,L]
RewriteRule ^projects html/projects.php [NC,L]
RewriteRule ^user/([0-9a-zA-Z_*.-]+) html/profile.php?user=$1 [NC,L]
RewriteRule ^post/([0-9]+) html/post.php?post=$1 [NC,L]
DirectoryIndex html/index.php
