RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^welcome html/index.php [NC,L]
RewriteRule ^forgot html/forgot.php [NC,L]
RewriteRule ^reset html/reset.php [NC,L]
RewriteRule ^home php/main.php [NC,L]
DirectoryIndex html/index.php
